.stwAccordion {
	overflow: hidden;
}

.stwAccordion dl {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.stwAccordion dt {
	border-top: thin solid var(--border);
	padding: var(--padding-reduced) 0 !important;
}

.stwAccordion dd {
	margin: 0 0 0 var(--margin);
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.stwAccordion dt span {
	width: var(--margin);
	display: inline-block;
}