.stwSpecial {
	color: var(--special);
}

.stwHide {
	display: none;
}

.stwSelected {
	background-color: var(--special) !important;
	color: var(--on-special) !important;
}

.stwCollapsible {
	cursor: pointer;
}

.stwError {
	font-size: small;
	padding: var(--padding-reduced) !important;
	margin: var(--padding-reduced);
	background-color: var(--error);
	color: white;
}

.stwError h1 {
	color: white;
	line-height: 1.5rem;
	border-bottom: thin solid white;
}

.stwError>pre {
	white-space: pre-wrap;
	word-break: break-word;
}

fieldset.stwGroup {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	border: none;
	padding: 0;
	margin: 0;
}
