.stwCalendar {
	width: 100%;
	max-width: 100%;
}

.stwCalendar table:first-of-type {
	width: 100%;
	border-collapse: collapse;
}

.stwCalendar table:first-of-type td {
	border: thin solid var(--border);
	vertical-align: top;
	min-height: 2rem;
	padding: 0.25rem;
	box-sizing: border-box;
}

.stwCalendar table:first-of-type th {
	background: var(--special);
	color: var(--on-special);
	height: 2rem;
	min-width: 2.5rem;
}

.stwCalendarDayNum {
	font-size: smaller;
	margin-bottom: 0.25rem;
	text-align: center;
}

.stwCalendarToday {
	background: var(--special-hover) !important;
	color: var(--on-special) !important;
	border: medium solid var(--special) !important;
}

.stwCalendarMonthHeader {
	text-align: center;
	font-weight: bold;
	padding: var(--padding-reduced);
}

.stwCalendarGroup {
	margin-bottom: var(--padding);
	padding: var(--padding-reduced);
	border-left: thick solid var(--special);
}

.stwCalendarGroup:not(:last-child) {
	margin-bottom: 1.5rem;
}

.stwCalendar .stwCalendarGroup>* {
	margin-bottom: var(--padding-compact);
}

.stwCalendar .stwCalendarGroup>*:last-child {
	margin-bottom: 0;
}