.stwForm form,
.stwFormCompact form {
	padding: var(--padding) !important;
}

.stwForm label {
	font-size: small;
	font-weight: bolder;
}

.stwForm input {
	padding: var(--padding);
	margin: var(--padding) var(--padding) var(--padding) 0;
}

.stwForm button {
	padding: var(--padding);
	min-width: 7rem;
	margin: var(--padding) 0;
}

.stwFormCompact input:not([type=number]),
.stwFormCompact button,
.stwFormCompact textarea,
.stwFormCompact select {
	font-family: inherit;
	margin: var(--padding-compact) var(--padding-compact) var(--padding-compact) 0;
	width: -webkit-fill-available;
}

.stwFormCompact label {
	display: block;
	font-size: smaller;
	font-weight: bolder;
}
