.stwForm label {
	display: inline-grid;
	font-weight: bolder;
}

.stwForm label {
	font-size: small;
}

.stwForm input {
	padding: var(--padding);
	margin: var(--padding) var(--padding) var(--padding) 0;
}

.stwForm button {
	padding: var(--padding);
	min-width: 7rem;
	margin: var(--padding) 0;
}
