.stwMenus>div {
	overflow:unset;
}

.stwMenus a {
	display: block;
	background-color: inherit;
	color: inherit;
}

.stwMenus menu {
	list-style-type: none;
	margin: 0;
	padding: var(--padding) 0;
	cursor: pointer;
	background-color: var(--bg-faint);
	color: var(--text);
}

.stwMenus nav>menu {
	display: flex;
}

.stwMenus menu li {
	line-height: 2rem;
	position: relative;
	min-width: calc(var(--min-menu-width) + var(--padding));
}

.stwMenus nav>menu>li {
	min-width: 0 !important;
}

.stwMenus menu li:has(menu) > div {
  position: relative;
  padding-right: 2rem;
}

.stwMenus menu li:has(menu) .fa-angle-right {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.stwMenus menu li>menu {
	display: none;
	position: absolute;
	background-color: var(--bg-faint);
	padding: var(--padding) 0;
	z-index: 1;
	border: thin solid;
}

.stwMenus menu li li>menu {
	top: 0;
	left: 100%;
}

.stwMenus menu li>div {
	padding: 0 0.5rem;
	line-height: 2rem;
}

.stwMenus menu li:hover>menu {
	display: inherit;
}

.stwMenus menu li:not(:has(article)):hover {
  background-color: var(--special-hover);
  color: var(--on-special);
}