/**
 * CSS Standard for stwMenus content
*/
.stwMenus a {
	display: block;
	background-color: inherit;
	color: inherit;
}

.stwMenus menu {
	list-style-type: none;
	margin: 0;
	padding: 0.25em 0;
	cursor: pointer;
}

.stwMenus nav>menu {
	display: flex;
}

.stwMenus menu li {
	position: relative;
	min-width: calc(var(--min-menu-width) + 0.25em);
}

.stwMenus nav>menu>li {
	min-width: 0 !important;
}

.stwMenus menu menu>li:has(menu)::after {
	position: absolute;
	top: 0;
	right: 0.125em;
	content: "▸";
	font-size: 1.5em;
}

.stwMenus menu li>menu {
	display: none;
	position: absolute;
	background-color: light-dark(var(--light-bg), var(--dark-bg));
	color: light-dark(var(--light-color), var(--dark-color));
	border: thin solid light-dark(var(--light-color), var(--dark-color));
	z-index: 1;
}

.stwMenus menu li li>menu {
	top: 0;
	left: var(--min-menu-width);
}

.stwMenus menu li>div {
	background-color: light-dark(var(--light-bg), var(--dark-bg));
	padding: 0 1em;
	line-height: 1.5em;
}

.stwMenus menu li>div:hover,
.stwMenus menu li>div:active {
	background-color: light-dark(var(--dark-bg), var(--light-bg));
	color: light-dark(var(--dark-color), var(--light-color));
}

.stwMenus menu li:hover>menu {
	display: inherit;
}