#stwStudio {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	overflow: hidden;
	background-color: var(--bg);
}

#stwStudio > div {
	display: grid;
	grid-template-columns: auto 5px 1fr; 
	overflow: hidden;
}

#stwSite {
	overflow: auto; /* Confines the site and adds scrollbars when needed */
	height: 100%;
	width: 100%;
	position: relative; /* Establishes a positioning context for child elements */
}

#stwMenubar,
#stwSidebar,
#stwStatusbar {
	background-color: var(--bg-faint);
}

#stwMenubar {
	border-bottom: thin solid var(--border);
}

#stwSidebar {
	border-right: thin solid var(--border);
	overflow: hidden; /* Let child elements manage their own scrolling */
	display: flex;
	flex-direction: column;
}

/* Make direct children of the sidebar grow to fill available space */
#stwSidebar > * {
	flex-grow: 1;
	overflow-y: auto; /* Add a scrollbar to the child if its content overflows */
}

#stwStatusbar {
	border-top: thin solid var(--border);
}

.stwSplitter {
	cursor: col-resize;
	background-color: var(--border);
	transition: background-color 0.2s ease;
}

.stwSplitter:hover {
	background-color: var(--special-hover);
}