.stwTree ul {
    list-style-type: none;
    padding-left: 0;
}

.stwTree li {
    cursor: pointer;
    white-space: nowrap;
}

.stwTree li > div {
    padding: var(--padding-reduced);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.stwTree li > div:hover {
  background-color: var(--special);
  color: var(--on-special);
  transition: background-color 0.3s ease;
}

.stwTree li:focus-within .stwSelected {
  background-color: initial; /* Default color */
}

.stwTree .stwSelected {
  background-color: gray !important; /* Gray when the article isn't focused */
}