.stwHTabs {
	display: flex;
	flex-direction: column;
}

.stwVTabs {
	display: flex;
	height: 100%;
	margin: 0;
}

.stwHTabs>div {
	display: flex;
	border-bottom: thin solid var(--border);
}

.stwVTabs>div {
	display: flex;
	flex-direction: column;
	border-right: thin solid var(--border);
}

.stwHTabs dt[data-ref] {
	display: inline-block;
	padding: var(--thickness) var(--padding);
	cursor: pointer;
	border-top: thin solid var(--border);
	border-left: thin solid var(--border);
}
.stwHTabs dt[data-ref]:last-of-type {
	border-right: thin solid var(--border);
}

.stwVTabs dd:first-of-type {
	flex-grow: 1;
}

.stwVTabs dt[data-ref] {
	padding: var(--padding);
	cursor: pointer;
}

.stwTabs dd {
	display: flex;
	margin: 0;
}

.stwTabs dd>article {
	padding: 0;
}