.stwHTabs {
	display: flex;
	flex-direction: column;
}

.stwVTabs {
	display: grid;
	grid-template-columns: auto 1fr;
}

.stwHTabs > div {
	border-bottom: thin solid var(--border);
}

.stwVTabs > div {
	border-right: thin solid var(--border);
}

.stwHTabs dt {
	display: inline-block;
	padding: var(--thickness) var(--padding);
	cursor: pointer;
}

.stwVTabs dt {
	padding: var(--padding);
	cursor: pointer;
}

.stwTabs dd {
	margin: 0
}

.stwTabs dd>article {
	padding: 0;
}
