.stwTable table {
    border-collapse: collapse;
    width: 100%;
}

.stwTable thead td {
    background-color: var(--special-hover);
    color: var(--on-special);
}

.stwTable th,
.stwTable td {
    border: thin solid var(--bg-faint);
    padding: var(--padding-reduced);
}

.stwTable th {
    padding: var(--padding);
    background-color: var(--special);
    color: var(--on-special);
}

.stwTable tr:nth-child(even) {
    background: var(--bg-faint);
}

.stwTable tr:hover {
    background: var(--special-hover);
    color: var(--on-special);
}

.stwTable input[type="text"], .stwTable:not([type]) {
    width: -webkit-fill-available;
}