.stwTabs {
	position: relative;
}

.stwTabs dt {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.stwTabs dd {
	position: absolute;
	margin: 0;
	display: none;
}

.stwTabs dt.stwSelected {
	color: white;
	background-color: black;
}

dt.stwSelected+dd {
	display: inherit;
}