:root {
    --base-color: red;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
}

.stwLanguages a {
    font-size: smaller;
}

.dialog {
    font-size: smaller;
}
.dialog h1 {
    border-bottom: thin solid var(--base-color);
}
.dialog h1::after {
    content: "x";
}