:root {
	color-scheme: light dark;

	--bg: hsl(0, 0%, 98%);
	--bg-faint: hsl(0, 0%, 92%);
	--text: hsl(220, 15%, 20%);
	--special: hsl(200, 80%, 45%);
	--on-special: hsl(0, 0%, 98%);

	--padding: 0.5rem;
	--thickness: 0.25rem
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(220, 15%, 15%);
		--bg-faint: hsl(220, 15%, 22%);
		--text: hsl(0, 0%, 98%);
		--special: hsl(200, 80%, 60%);
		--on-special: hsl(220, 15%, 15%);
	}
}

body {
	background: var(--bg);
	color: var(--text);
}

.stw,
.stwStudio,
.stwMenus menu,
.stwTabs dd {
	background: var(--bg);
	color: var(--text);
}

.stwMenus menu li,
.stwTabs dt,
.stwForm button {
	background: var(--bg-faint);
	color: var(--text);
}

h1 {
	color: var(--special);
	border-bottom: thin solid var(--special);
}

a,
.stwSpecial {
	color: var(--special);
}

.stw {
	display: grid;
	grid-template-rows: 2rem auto 2rem;
	min-height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.stw>div {
	display: grid;
	grid-template-columns: 250px 10px 1fr;
	height: 100%;
}

.stw>div>aside {
	overflow: auto;
	min-width: 100px;
	max-width: 50vw;
}

.stw>div>.splitter {
	cursor: col-resize;
	background: CanvasText;
	opacity: 0.2;
	width: 5px;
	height: 100%;
}

.stw>div>main {
	overflow: auto;
}

.dialog {
	font-size: smaller;
}

.dialog h1 {
	border-bottom: thin solid var(--special);
}

.dialog h1::after {
	content: "&#10006;";
}

article {
	position: relative;
	padding: var(--padding);
}

.stwLanguages a {
	font-size: smaller;
}

.stwForm label {
	display: inline-grid;
	font-weight: bolder;
}

.stwForm label>span {
	font-size: smaller;
}

.stwForm label>input {
	padding: var(--padding);
	margin: var(--padding) var(--padding) var(--padding) 0;
}

.stwForm button {
	padding: 0.5rem;
	min-width: 7rem;
	margin: 0.5rem 0;
}

.stwHide {
	display: none;
}

.stwSelected,
.stwMenus menu li>div:hover,
.stwTabs dt:hover,
.stwTree li>div:hover {
	background-color: var(--special) !important;
	color: var(--on-special) !important;
}

.stwMenus menu li:hover>menu {
	display: inherit;
}

.stwTabs dt {
	display: inline-block;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
}

.stwTabs dd {
	margin: 0;
	border-top: thin solid var(--special);
}

.stwStudio {
	position: absolute;
	display: grid;
	grid-template-rows: 2rem auto 2rem;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.stwStudio>div {
	display: grid;
	grid-template-columns: 1fr var(--padding) 3fr;
}

#stwMenubar,
#stwSidebar,
#stwStatusbar {
	background-color: var(--bg-faint)
}

.stwSplitter {
	cursor: col-resize;
	width: var(--thickness);
}

.stwSplitter:hover,
.stwTree li>div:hover {
	background-color: var(--special);
	color: var(--on-special);
}